USE [master]
GO
/****** Object:  Database [Assessment]    Script Date: 12/05/2017 23:38:30 ******/
CREATE DATABASE [Assessment]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Assessment', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.NEWSQL\MSSQL\DATA\Assessment.mdf' , SIZE = 7168KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Assessment_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.NEWSQL\MSSQL\DATA\Assessment_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Assessment].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Assessment]
GO
/****** Object:  Table [dbo].[Salon]    Script Date: 12/05/2017 23:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salon](
	[SalonID] [int] NOT NULL,
	[SalonName] [nvarchar](50) NOT NULL,
	[S_Address] [nvarchar](50) NOT NULL,
	[PostCode] [nvarchar](20) NOT NULL,
	[PhoneNumber] [nvarchar](20) NOT NULL,
	[EmailAddress] [nvarchar](100) NULL,
	[Website] [nvarchar](100) NOT NULL,
	[NewColumn] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SSIS]    Script Date: 12/05/2017 23:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SSIS](
	[AverageRate] [nvarchar](max) NOT NULL,
	[CurrencyID] [nvarchar](250) NOT NULL,
	[CurrencyDate] [datetime] NOT NULL,
	[EndofDayRate] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
USE [master]
GO
