@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2 align="center">Adam Smith [n3276931]</h2>
    <p class="lead" align="center">Advance Database Systems</p>
    <p class="lead" align="center">Customers have Add/Edit and view details but no delete and the other two tables are here to view data.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>
            The customers table is the table I have added certain functionality too including add/edit view details of a specific customers. Click the button below and take a look.
        </p>
        <p><a class="btn btn-default" href="http://localhost:30856/Customer">View Customers &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Salons</h2>
        <p>This have only been added so I can show that it has been knitted to the database.</p>
        <p><a class="btn btn-default" href="http://localhost:30856/Salon">Salons &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Employees</h2>
        <p>This have only been added so I can show that it has been knitted to the database.</p>
        <p><a class="btn btn-default" href="http://localhost:30856/Employee">Employees&raquo;</a></p>
    </div>
</div>